body {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	color: #666;
	font-size: 18px;
	line-height: 20px;
	margin: 0;
	width: 1800px;
	
}
a {
	text-decoration: none;
}
.heading-size {
	font-size: 25px;
}

.headerline {
	padding: 4px 0px 3px 0;
	margin-top: -15px;
}
.indents {
	padding: 0 200px 0 170px
}
.list-inline li {
	display:inline;
	padding-right:6px;
	    
}
.display-vertical {
	display:inline-block;
	vertical-align: top;
	
}
.pull-right {
	float: right;
}
.pull-centr {
	padding-left: 400px;
}

.conteiner {

  padding: 0 200px;
  margin: 10px;


}
.text-center {
	text-align: center;
}
.product {
	width: 370px;
	text-align: justify;
	display:inline-block;
	vertical-align: top;
	 padding: 10px 40px;
}
.product img {
	width: 350px;
}
.price {
	text-align: right;
}
.menu {
	background: #923145;
	height: 40px;
	padding: 0;
	margin: 0;

}
.menu > li {
    float: left;
    position: relative;
}
.menu a {
	color: #fff;
	padding: 10px;
	display: block;
	vertical-align: middle; 
}
.menu a:hover {
	background: #EEEEEE;
	color: #000;
	padding: 10px;
	display: inline-block;
	vertical-align: middle; 
}
.submenu {
    display: none;
    position: absolute;
    width: 150px;
    margin-left: -40px;
}
.submenu > li {
    display: block;
}
.submenu  a {
    display: block;
    padding: 10px;
    color: #000;
    background-color: #EEEEEE;
}
.submenu  a:hover {
    display: block;
    padding: 10px;
    color: #000;
    background-color: #923145;
    color: #fff;
}
.menu > li:hover >.submenu {
    display: block;
}
.form-group{
	padding: 5px;
}
.add-product {
	 margin: 50px 200px;
	 width: 400px;
}
.product-item-image {
	height: 300px;
	float:left; 
    margin: 3px 7px 7px 0; 
}
.product-item-discription {
	text-align: justify;
}
.price-item {
	font-size: 36px;
	color: green;
	text-align: right;

}
.price-item button {
	width: 150px;
	height: 35px;
	border-radius: 5px;
	font-size: 18px;
	margin: 5px
}
.product-item {
	margin: 50px;
}
.sign-in {
	margin: 0 25%;
}
.coment {
	display: inline-block;

}

.border {
	border: 4px outset gray;
	border-radius: 5px;
	padding: 5px;
	 
}
.text-overflow {
  height: 50px;
  white-space: nowrap; 
  padding: 5px; 
  text-overflow: ellipsis;
}
.container-align-centr {
	text-align: center;
}
.cart-item-image {
	height: 100px;
	float:left; 
    margin: 3px 7px 7px 0;
}
.cart-product-name {
	font-size: 28px;
	color: green;
}
.cart-count {
	font-size: 18px;
	color: gray;
	margin: 7px;
	width: 70px;
}
.cart-form {
	width: 400px;
	display: inline-block;
	margin-left: 75px;
}
.check-in {
	width: 400px;
}
.log-in {
	width: 400px;
}
.sign-in input {
	width: 220px;
}
.cart-form input {
	width: 220px;
}
.cart-button {
	width: 200px
	margin: 5px;
	height: 35px;
	border-radius: 5px;
	font-size: 14px;
	margin: 5px
}

